html {
    background: Aqua;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.search{
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 20px;
}
.books {
    /* display: flex;  */
    position: fixed;
    text-align: center;
    color: rgb(2, 2, 2);
    width: 100%;

    /* font-weight: 800; жирный */
    /* padding: 10px; */
    /* margin: 10px; */
}
p {
    color: #666;
    font-weight: 750; /*жирный*/
    background: orange;
    padding: 15px;
    margin: 25px;
}
span {
    color: white;
    background: orange;
}
img {
    height: 150px;
    width: 150px;
    padding: 15px;
}
#qq {
    -webkit-appearance: none;
    outline: none;
    border: none;
    width: 200px;
    padding: 2px 2px;
}
