html {
    background: Aqua;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.search{
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 20px;
}
.books {
    /* display: flex;  */
    position: fixed;
    text-align: center;
    color: rgb(2, 2, 2);
    width: 100%;

    /* font-weight: 800; жирный */
    /* padding: 10px; */
    /* margin: 10px; */
}
.myname{
    position: fixed;
    justify-content: flex-start;
    color: rgb(2, 2, 2);
    width: 100%;
    
}
.exit {
    position: fixed;
    justify-content: flex-start;
    color: rgb(175, 172, 172);
    width: 100%;
    margin-left: 140px;
    top: 27px;
}
.knopka1 {
    width: 100%;

}

p {
    color: #666;
    font-weight: 750; /*жирный*/
    background: orange;
    padding: 15px;
    margin: 25px;
}
span {
    color: white;
    background: orange;
}

.img {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

img {
    border: 1px solid black;
    margin: 10px;
    height: 150px;
    width: 150px;
    padding: 15px;
}
.product {
    border: 1px solid blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 10px;

}

.price {
    border: 1px solid red;
    display: flex;
}

#qq {
    -webkit-appearance: none;
    outline: none;
    border: none;
    width: 200px;
    padding: 2px 2px;
}
/* отсюда регистрация */
.myform {
    display: flex;
	background-color:rgb(225, 230, 252);
	width:400px;
	height:320px;
	margin-left:300px;
	margin-top:150px;
	text-align:center;
}
.contener {
    display: flex;
	background-color:#858181;
	margin:auto;
	width:1100px;
	height:600px;
	border: 3px solid rgb(15, 15, 15);
}
.digblocform {
	width:50%;
	height:100%;
    float:left;
}
